html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

* {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.heading {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

@media screen and (max-width: 767px) {
    .heading {
        background-color: #2F454E;
        color: #fff;
        margin: 0;
        padding: 10px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color: #ececec;
}

.row .col-8 {
    flex: 2;
}

.row .col-8 ul {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .row .col-8 ul {
        padding: 0 10px 20px;
    }
}

.row .col-8 ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    font-size: 40px;
    color: #fff;
}

.row .col-8 ul li.c1 {
    background-color: #6e88d7;
}

.row .col-8 ul li.c8 {
    background: #c4b8f4;
}

.row .col-8 ul li.c5 {
    background: #6e88d7;
}

.row .col-8 ul li.c2,
.row .col-8 ul li.c4 {
    background: #c4b8f4;
}

.row .col-8 ul li.c3,
.row .col-8 ul li.c6 {
    background: #c4b8f4;
}

.row .col-8 ul li.c3,
.row .col-8 ul li.c7,
.row .col-8 ul li.c9 {
    background: #6e88d7;
}

@media screen and (max-width: 767px) {
    .row .col-8 ul li {
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 20px;
        height: auto;
        padding: 10px;
        color: #2F454E;
        background-color: #dadada !important;
        margin-bottom: 5px;
    }
    .row .col-8 ul li:first-child,
    .row .col-8 ul li:nth-child(8) {
        border-left: 4px solid #6F98A8;
    }
    .row .col-8 ul li:nth-child(2),
    .row .col-8 ul li:nth-child(4) {
        border-left: 4px solid #388FAE;
    }
    .row .col-8 ul li:nth-child(6),
    .row .col-8 ul li:nth-child(7) {
        border-left: 4px solid #929292;
    }
    .row .col-8 ul li:nth-child(3),
    .row .col-8 ul li:nth-child(5),
    .row .col-8 ul li:nth-child(9) {
        border-left: 4px solid #2F454E;
    }
}

@media screen and (max-width: 767px) {
    .row .col-8 {
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.row .col-4 {
    flex: 1;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .row .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
        padding: 10px;
    }
}

.btn {
    width: 100%;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
    border: 0;
    outline: none !important;
    cursor: pointer;
    background-color: #72C3DC;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #6F98A8;
    margin-bottom: 20px;
}

.btn:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .btn {
        flex: 1;
        width: auto;
        margin-bottom: 0;
    }
}


/*# sourceMappingURL=main.css.map */
